<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="Gas Savings Account!" />
    <meta property="og:image" content="{{{baseUrl}}}/frame-initial-image" />
    <meta property="fc:frame" content="vNext" />
    <meta property="fc:frame:image" content="{{{baseUrl}}}/frame-initial-image" />
    <meta property="fc:frame:button:1" content="Check your gas savings!" />
    <meta
      name="fc:frame:post_url"
      content="https://on-chain-cow-farcaster-frame.vercel.app/api/on-chain-cow-farcaster-frame"
    />
  </head>
  <body>
    <h1>Gas Savings Account</h1>
    <p>View this as a Farcaster Frame!</p>
  </body>
</html>
