<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="Syndicate Gas Savings!" />
    <meta property="og:image" content="{{{baseUrl}}}/{{{frameImage}}}" />
    <meta property="fc:frame" content="vNext" />
    <meta property="fc:frame:image" content="{{{baseUrl}}}/{{{frameImage}}}" />
    <meta property="fc:frame:button:1" content="Mint" />
    <meta property="fc:frame:button:2" content="Store Data" />
    <meta property="fc:frame:button:3" content="Deploy Contract" />
    <meta property="fc:frame:button:4" content="Refresh Gas" />
    <meta
      name="fc:frame:post_url"
      content="{{{baseUrl}}}/"
    />
  </head>
  <body>
    <h1>Syndicate Gas Savings</h1>
    <p>View this as a Farcaster Frame!
    <a href="https://frame.syndicate.io/">Build your own via our Syndicate Frame API!</a></p>
    <p>Get set up on the Syndicate Frame Chain via these instructions:</p>
    <ul>
        <li><strong>Network Name:</strong> Syndicate Frame Chain</li>
        <li><strong>RPC Endpoint:</strong> <a href="https://rpc-frame.syndicate.io">https://rpc-frame.syndicate.io</a></li>
        <li><strong>Chain ID:</strong> 5101</li>
        <li><strong>Currency Symbol:</strong> ETH</li>
        <li><strong>Block Explorer:</strong> <a href="https://explorer-frame.syndicate.io">https://explorer-frame.syndicate.io</a></li>
        <li><strong>Bridge:</strong> <a href="https://bridge-frame.syndicate.io">https://bridge-frame.syndicate.io</a></li>
    </ul>
  </body>
</html>
