<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../output.css" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
  <div class="w-[800px] h-[418px] relative bg-black">
    <div class="left-[263px] top-[52px] absolute text-center"><span style="text-white text-base font-bold font-['ABC Whyte Trial'] tracking-[4.80px]">THIS FRAME</span><span style="text-white text-base font-normal font-['ABC Whyte Inktrap Trial'] tracking-[4.80px]"> HAS USED</span></div>
    <div class="left-[639px] top-[380px] absolute text-right text-white text-xs font-['ABC Whyte Trial'] leading-[18px] tracking-widest">frame.syndicate.io</div>
    <img class="w-[232px] h-[232px] left-[82px] top-[105px] absolute" src="https://via.placeholder.com/232x232" />
    <div class="left-[356px] top-[117px] absolute text-yellow-200 text-5xl font-normal font-['ABC Whyte Trial']">$16,237.42</div>
    <div class="left-[356px] top-[186px] absolute text-white text-[11px] font-['ABC Whyte Inktrap Trial'] tracking-[3.30px]">GAS ON ETHEREUM (ESTIMATED)</div>
    <div class="left-[356px] top-[240px] absolute text-white text-5xl font-normal font-['ABC Whyte Trial']">$0.00001</div> 
    <div class="left-[356px] top-[309px] absolute text-white text-[11px] font-['ABC Whyte Inktrap Trial'] tracking-[3.30px]">GAS ON SYNDICATE FRAME CHAIN (ACTUAL)</div>
  </div>
</body>
</html>
