<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="Syndicate Gas Savings!" />
    <meta property="og:image" content="{{{baseUrl}}}/frame-initial-image" />
    <meta property="fc:frame" content="vNext" />
    <meta property="fc:frame:image" content="{{{baseUrl}}}/frame-initial-image" />
    <meta property="fc:frame:button:1" content="Mint" />
    <meta property="fc:frame:button:2" content="Store Data" />
    <meta property="fc:frame:button:3" content="Deply Contract" />
    <meta property="fc:frame:button:4" content="Refresh gas savings" />
    <meta
      name="fc:frame:post_url"
      content="{{{baseUrl}}}/"
    />
  </head>
  <body>
    <h1>Syndicate Gas Savings</h1>
    <p>View this as a Farcaster Frame!</p>
  </body>
</html>
