<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../output.css" rel="stylesheet">
    <title>{{title}}</title>
    <style>
        /* Custom font classes if your Tailwind config doesn't include them */
        .font-abc-whyte-trial { font-family: 'ABC Whyte Trial'; }
        .font-abc-whyte-inktrap { font-family: 'ABC Whyte Inktrap Trial'; }
    </style>
</head>
<body>
  <div class="w-[800px] h-[418px] relative bg-black">
    <div class="left-[263px] top-[52px] absolute text-center">
      <span class="text-white text-base font-bold tracking-[4.80px] font-abc-whyte-trial">THIS FRAME</span>
      <span class="text-white text-base font-normal tracking-[4.80px] font-abc-whyte-inktrap"> HAS USED</span>
    </div>
    <div class="left-[639px] top-[380px] absolute text-right text-white text-xs leading-[18px] tracking-widest font-abc-whyte-trial">frame.syndicate.io</div>
    <img class="w-[232px] h-[232px] left-[82px] top-[105px] absolute" src="{{baseUrl}}/{{{actionImage}}}" />
    <div class="left-[356px] top-[117px] absolute text-yellow-200 text-5xl font-normal font-abc-whyte-trial">${{estimateGasUsedMainnetUSD}}</div>
    <div class="left-[356px] top-[186px] absolute text-white text-[11px] tracking-[3.30px] font-abc-whyte-inktrap">GAS ON ETHEREUM (ESTIMATED)</div>
    <div class="left-[356px] top-[240px] absolute text-white text-5xl font-normal font-abc-whyte-trial">${{estimateGasUsedUSD}}</div> 
    <div class="left-[356px] top-[309px] absolute text-white text-[11px] tracking-[3.30px] font-abc-whyte-inktrap">GAS ON SYNDICATE FRAME CHAIN (ACTUAL)</div>
  </div>
</body>
</html>
