@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ABC Whyte Trial";
  src: url("./fonts/ABCWhyte-Regular-Trial.woff2") format("woff2"),
    url("./fonts/ABCWhyte-Regular-Trial.woff") format("woff"),
    url("./fonts/ABCWhyte-Regular-Trial.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ABC Whyte Inktrap Trial";
  src: url("./fonts/ABCWhyteInktrap-Regular-Trial.woff2") format("woff2"),
    url("./fonts/ABCWhyteInktrap-Regular-Trial.woff") format("woff"),
    url("./fonts/ABCWhyteInktrap-Regular-Trial.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
